<p>Create New User</p>

<form action="/create/user" method="post">
    <div class="container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="type"><b>Type</b></label>
        <input type="text" placeholder="Enter User Privilege" name="type" required>

        <button type="submit">Save</button>
    </div>

</form>