<%- include('header'); -%>

    <body>
        <div class="container">
            <h4>Hello,</h4>

            <form action="/login" method="post">
                <div class="container">
                    <input type="text" placeholder="Enter email" name="email" required>
                    <br><br>
                    <input type="password" placeholder="Enter password" name="password" required>
                    <br><br>
                    <% if (typeof(error) !="undefined" ){ %>
                        <p>
                            <%= error %>
                        </p>
                        <% } %><br>
                            <button type="submit">Login</button>
                </div>

            </form>
        </div>
    </body>

    <%- include('footer'); -%>