<%- include('header'); -%>


    <body>
        <div class="position-absolute top-50 start-50 translate-middle border" style="width: 500px;">
            <form class="p-5" action="" method="post">
                <h2 class="text-center ">Register</h2>
                <div class="form-text text-center mb-2">Create an Account!</div>
                <% if(typeof msg !='undefined' ){ %>
                    <div class="border border-light bg-success bg-opacity-10 text-success p-2 rounded mb-2">
                        <%= msg %>
                    </div>
                    <% } if(typeof error !=='undefined' ){ %>
                        <div class="border border-light bg-danger bg-opacity-10 text-danger p-2 rounded mb-2">
                            <%= error %>
                        </div>
                        <% } %>
                            <div class="mb-3">
                                <label for="firstName" class="form-label">First Name</label>
                                <input type="text" name="firstName" placeholder="e.g Jane" required class="form-control"
                                    aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input type="text" name="lastName" placeholder="e.g Doe" required class="form-control"
                                    aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" name="email" placeholder="e.g hello@gmail.com" required
                                    class="form-control" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" name="password" placeholder="Must have at least 12 characters"
                                    required class="form-control">
                            </div>

                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                            <p class="mt-3">Already have an account? <a class="text-decoration-none" href="/">Login</a>
                            </p>
            </form>
        </div>


    </body>

    <%- include('footer'); -%>